#loading{}
#loading div{
  width: 100%;
  height: 50%;
  background: #009CE0;
  position: absolute;
  z-index: 50;
  transition: 2s;
}
#loading div:nth-child(1){
  top: 0;
}
#loading div:nth-child(2){
  bottom: 0;
}
#loading span{
  width: 0%;
  height: 4px;
  display: block;
  left: 0;
  top: 50%;
  background: #FFFFFF;
  margin-top: -2px;
  z-index: 51;
  position: absolute;
  transition: 0.5s;
}
